.what-we-do {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(99deg, rgba(248,248,248,1) 0%, rgba(207,99,31,1) 0%, rgba(239,182,9,1) 100%); 
  &-container {
    font-family: 'Montserrat';
  }
}