.service-padding {
  @apply px-[3rem] sm:px-[7rem] lg:px-[10rem] 2xl:px-[17rem];
}
.gradient {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(185, 89, 252, 1) 0%,
    rgba(36, 36, 206, 1) 50%,
    rgba(89, 193, 252, 1) 100%
  );
  background-image: -moz-linear-gradient(
    180deg,
    rgba(185, 89, 252, 1) 0%,
    rgba(36, 36, 206, 1) 50%,
    rgba(89, 193, 252, 1) 100%
);
}